<div class="row">
  <div class="span8">

    <div class="page-header">
      <h1>Edit client</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>

        <div class="control-group">
          <label for="name-input" class="control-label">Name</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-xlarge" id="name-input" value="<%= client.name %>" />
              <p class="help-block">Enter name above, has to be between 2 and 100 chars.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="email-input" class="control-label">Email</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-envelope"></i>
              </span>
              <input type="text" class="input-xlarge" id="email-input" value="<%= client.email %>" />
              <p class="help-block">Enter a valid email above.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="company-input" class="control-label">Company</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-briefcase"></i>
              </span>
              <input type="text" class="input-xlarge" id="company-input" value="<%= client.company %>" />
              <p class="help-block">Enter company above, has to be between 7 and 100 chars.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="born-input" class="control-label">Born</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-time"></i>
              </span>
              <input type="text" class="input-xlarge" id="born-input" value="<%= formattedDate %>" />
              <p class="help-block">
                Enter birth date above, using the following format: MM/DD/YYYY.<br />
                Example: 01/07/1978. Client has to be above 18 years old.
              </p>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <a class="btn save-btn">Save</a>
          <a class="btn back-btn">Back</a>
        </div>

      </fieldset>
    </form>

  </div>
</div>
