<div class="row">
  <div class="span6">

    <div class="page-header">
      <h1><%= client.name %></h1>
    </div>

    <p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><h6>Name:</h6></td>
            <td>
              <i class="icon-user"></i>
              <%= client.name %>
            </td>
          </tr>
          <tr>
            <td><h6>Email:</h6></td>
            <td>
              <i class="icon-envelope"></i>
              <a href="mailto:<%= client.email %>"><%= client.email %></a>
            </td>
          </tr>
          <tr>
            <td><h6>Company:</h6></td>
            <td>
              <i class="icon-briefcase"></i>
              <%= client.company %>
            </td>
          </tr>
          <tr>
            <td><h6>Born:</h6></td>
            <td>
              <i class="icon-time"></i>
              <%= moment(new Date(client.born)).format("MMMM Do YYYY") %>
            </td>
          </tr>
        </tbody>
      </table>
    </p>

    <p>
      <a href="#/clients/<%= client._id %>/edit" class="btn edit-btn">Edit</a>
      <button class="btn delete-btn">Delete</button>
    </p>

  </div>
</div>
