<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/home">Client Manager</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home-menu"><a href="#/home">Home</a></li>
          <li class="list-menu"><a href="#/clients">List clients</a></li>
          <li class="new-menu"><a href="#/clients/new">Add client</a></li>
        </ul>
        <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
