<div class="hero-unit">
  <h1>Client Manager</h1>
  <p>This is a sample application built with Backbone, RequireJS, Twitter Bootstrap (frontend) and Node.js, Express.js, Mongoose (backend).</p>
  <p><a class="btn btn-primary btn-large" href="//github.com/alessioalex/ClientManager">Fork me &raquo;</a></p>
</div>

<div class="row">
  <div class="span6">
    <h2>Download</h2>
    <p>The source code for this application is <a href="//github.com/alessioalex/ClientManager">hosted on GitHub</a>. In addition to the client application (created using Backbone.js, RequireJS & Twitter Bootstrap), the repository includes the backend server also (built with Node.js, Express, Mongoose). Find more details in the README file of the project.</p>
  </div>
  <div class="span6">
    <h2>Get it up & running</h2>
    <p>Node.js and NPM need to be installed on your server/PC. Run "npm install ." on the command line (inside the project) to install the dependencies. Then make sure to configure the MongoDB connection details (/config/db.json) and other app settings (such as port). If you are running MongoDB with the default settings on localhost you won't need to change anything. When you're all set, run "npm start" and enjoy :)</p>
  </div>
</div>
